In [9]:
import pandas as pd
import numpy as pn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [10]:
weather=pd.read_csv("C:/Users/Agwaro/downloads/daily_weather.csv")

In [11]:
weather.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [13]:
# check for missing values
NAs=pd.concat([weather.isnull().sum()],axis=1,keys=(["Train"]))

In [14]:
NAs[NAs.sum(axis=1)>0] # checking missing values

                        Train
air_pressure_9am            3
air_temp_9am                5
avg_wind_direction_9am      4
avg_wind_speed_9am          3
max_wind_direction_9am      3
max_wind_speed_9am          4
rain_accumulation_9am       6
rain_duration_9am           3

In [15]:
# we remove rain_accumulation_9am as it has lots of missing data so we drop it.
weather.pop("rain_accumulation_9am")

0       0.00
1       0.00
2       0.00
3       0.00
4       8.90
5       0.02
6       0.00
7       0.00
8       0.00
9       0.00
10      0.00
11      0.55
12      0.00
13      0.00
14      0.00
15      0.00
16      0.00
17      0.00
18      0.00
19      0.00
20      0.00
21      0.00
22      0.00
23      0.00
24      0.00
25      0.00
26      0.00
27      0.00
28      0.00
29      0.00
        ...
1065    0.00
1066     NaN
1067    0.00
1068    0.00
1069    0.00
1070    0.00
1071    0.00
1072    0.00
1073    0.00
1074    0.00
1075    0.00
1076    0.00
1077    0.00
1078    0.00
1079    0.00
1080    0.00
1081    0.00
1082    0.00
1083    0.00
1084    0.00
1085    0.00
1086    0.00
1087    0.00
1088    0.00
1089    0.00
1090    0.00
1091    0.00
1092    0.00
1093    0.00
1094    0.00
Name: rain_accumulation_9am, Length: 1095, dtype: float64

In [21]:
# fill in missing values of air_pressure_9am with mean or most common values (mode)
weather["air_pressure_9am"]=weather["air_pressure_9am"].fillna(weather["air_pressure_9am"].mean())